*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.bgi img{
    height: 100vh;
    width: 100vw;
    position: absolute;

    background: rgba(20, 19, 19, 0.2); /* transparent background */
    

}


.full{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 3rem;
    border-bottom: 1px solid white;
}
.iop{
    margin-top: 5px;
    margin-left: -10px;
    font-size: x-large;
}
ul {
    list-style: none;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.main{
    height: 100vh;
    width: 280px;
    gap: 1rem;
    color: white;
    position: relative;
    z-index: 10;
    background: rgba(20, 19, 19, 0.2); /* transparent background */
    backdrop-filter: blur(20px); /* blur effect */
    padding: 1rem;
    display: flex;
    flex-direction: column;


}
i{
  color: white;
  

}
a{
    color: white;
}

.heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.heading:hover{
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    
    
}
.list{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: larger;
}

.list li:hover{
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    
    
}
.social{
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    gap: 1rem;
    font-size: 1.2rem;

    
}

